*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #edeced;
  padding: 100px;
}

.editor {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 900px;
  height: 200px;
  background: #fff;
  -webkit-box-shadow: 3px 3px 21px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    3px 3px 21px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         3px 3px 21px 0px rgba(50, 50, 50, 0.75);
}

.buttons ul {
  padding: 10px;
}

.buttons ul li {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

.buttons ul li:hover {
  color: #4e4e4e;
}

.text-box {
  padding: 10px;
  margin-bottom: 10px;
  flex-grow: 1;
  overflow: auto;
}